.signup-section .signup-wrapper {
  max-width: 700px;
  padding: 10px 0;
  margin: 0 auto;
}

.signup-section .signup-wrapper .signup-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-section .signup-wrapper .signup-nav .navLogo {
  color: var(--color-brand) !important;
}

.signup-section .signup-wrapper .form-title {
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.signup-section .signup-wrapper .signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}

.signup-section .signup-wrapper .signup-form .form-groupa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.signup-section .signup-wrapper .signup-form .form-groupa .form-label {
  display: block;
  font-size: 14px;
  color: #8b8b8b;
  margin-bottom: 10px;
}

.signup-section .signup-wrapper .signup-form .form-groupa .form-control {
  display: block;
  height: 32px;
  padding: 0 10px;
  outline: 1px solid #292929;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #fff;
}

.signup-section .signup-wrapper .signup-form .form-groupa .form-control:focus {
  border-color: #292929;
}

.signup-section .signup-wrapper .signup-form .form-footer .sitePolicyText {
  font-size: 13px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.signup-section .signup-wrapper .signup-form .form-footer .sitePolicyText a {
  color: var(--color-brand);
}

.signup-section .signup-wrapper .signup-form .form-footer .sitePolicyText a:hover {
  text-decoration: underline;
}

.signup-section .signup-wrapper .signup-form .form-footer .formSubmitBtn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  font-weight: 600;
  color: #fff;
  background: var(--color-brand);
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
}

.signup-section .signup-wrapper .signup-form .form-footer .formSubmitBtn:hover, .signup-section .signup-wrapper .signup-form .form-footer .formSubmitBtn:focus {
  background: #0c5196;
}

.signup-section .signup-wrapper .signup-form .form-footer .divider {
  text-align: center;
  position: relative;
  margin: 20px 0;
  color: #292929;
}

.signup-section .signup-wrapper .signup-form .form-footer .divider::before, .signup-section .signup-wrapper .signup-form .form-footer .divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  right: 0;
  background: #bcbcbc;
}

.signup-section .signup-wrapper .signup-form .form-footer .divider::after {
  left: 0;
}

.signup-section .signup-wrapper .signup-form .form-footer .googleAuthBtn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-weight: 400;
  color: #fff;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  color: #424242;
  border: 1px solid #ececec;
}

.signup-section .signup-wrapper .signup-form .form-footer .signInRedirect {
  margin-top: 20px;
  color: #292929;
  text-align: center;
}

.signup-section .signup-wrapper .signup-form .form-footer .signInRedirect a {
  color: var(--color-brand);
}

.signup-section .signup-wrapper .signup-form .form-footer .signInRedirect a:hover {
  text-decoration: underline;
}

.signup-section .authFooter {
  background: #fff;
}

.signup-section .authFooter .container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.signup-section .authFooter .info {
  text-align: center;
}

.signup-section .authFooter .info .infoText {
  color: #292929;
  font-size: 14px;
}

.signup-section .authFooter .info .infoText a {
  color: var(--color-brand);
}

.signup-section .authFooter .info .infoText a:hover {
  text-decoration: underline;
}

.signup-section .authFooter .siteCredit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.signup-section .authFooter .siteCredit span {
  font-size: 13px;
  color: #424242;
  font-weight: 300;
}

.signup-section .authFooter .siteCredit .brandLogo {
  fill: #292929;
}

.signup-section .authFooter .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.3rem;
}

.signup-section .authFooter .footerLinks .footerLinkItem a {
  font-size: 13px;
  color: #424242;
  text-transform: capitalize;
}

.signup-section .authFooter .footerLinks .footerLinkItem a:hover {
  color: var(--color-brand);
  text-decoration: underline;
}

.signup-section .authFooter .footerLinks .footerLinkItem .selectLangBtn {
  border: none;
  outline: none;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  background: none;
  cursor: pointer;
}

.signup-section .authFooter .footerLinks .footerLinkItem .selectLangBtn:hover {
  color: var(--color-brand);
}
/*# sourceMappingURL=auth.css.map */