.landingPage {
  background-color: #fff;
}

.landingPage .landingContainer {
  margin: 0 5%;
  padding-top: 10px;
  /*=====explore more topics=====*/
}

.landingPage .landingContainer .landingHeader .landingContainer {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landingPage .landingContainer .landingHeader .landingContainer .landingLogo .LandingLogoIcon {
  fill: #0a66c2;
  color: #0a66c2;
}

.landingPage .landingContainer .landingHeader .landingContainer .landingNavigation .lannavFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landingPage .landingContainer .landingHeader .landingContainer .landingNavigation .lannavFlex .lannavLink {
  margin: 0 10px;
  color: #3d3d3d;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  outline: none;
}

.landingPage .landingContainer .landingHeader .landingContainer .landingNavigation .lannavFlex .lannavLink:nth-child(1) {
  padding: 0 10px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.landingPage .landingContainer .landingHeader .landingContainer .landingNavigation .lannavFlex .lannavLink:nth-child(1):hover {
  background-color: #dadada;
}

.landingPage .landingContainer .landingHeader .landingContainer .landingNavigation .lannavFlex .lannavLink:nth-child(2) {
  color: #0a66c2;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #0a66c2;
}

.landingPage .landingContainer .landingHeader .landingContainer .landingNavigation .lannavFlex .lannavLink:nth-child(2):hover {
  padding: 4px 19px;
  border: 2px solid #0a66c2;
  background-color: #0fb0c21d;
}

.landingPage .landingContainer .lanJumbo .lanJcontainer {
  margin: 0 3%;
}

.landingPage .landingContainer .lanJumbo .lanJcontainer .lanJFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
}

.landingPage .landingContainer .lanJumbo .lanJcontainer .lanJFlex .lanJtexts {
  width: 50%;
}

.landingPage .landingContainer .lanJumbo .lanJcontainer .lanJFlex .lanJtexts .lanJTitle {
  font-size: 56px;
  font-weight: 200;
  color: #8f5849;
}

.landingPage .landingContainer .lanJumbo .lanJcontainer .lanJFlex .lanJImage {
  width: 50%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.landingPage .landingContainer .lanJumbo .lanJcontainer .lanJFlex .lanJImage .lanJumboImage {
  width: 700px;
  height: 700px;
  margin-right: -100px;
  margin-top: -50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.landingPage .landingContainer .expTopics .expwrapper .expContainer {
  margin: 0 5%;
}

.landingPage .landingContainer .expTopics .expwrapper .expContainer .expFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landingPage .landingContainer .expTopics .expwrapper .expContainer .expFlex .expTitle {
  width: 50%;
}

.landingPage .landingContainer .expTopics .expwrapper .expContainer .expFlex .expContTopics {
  width: 50%;
}

.landingPage .landingContainer .expTopics .expwrapper .expContainer .expFlex .expContTopics .expTopLinkCont {
  padding: 10px 20px;
  border: 2px solid gray;
  border-radius: 23px;
  margin: 10px;
  margin-left: 0px;
}
/*# sourceMappingURL=home.css.map */