.navbar {
  width: 100%;
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.navbar .navcontainer {
  margin: 0px 8%;
}

.navbar .navcontainer .navflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navcontainer .navflex .navleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 7px;
}

.navbar .navcontainer .navflex .navleft .navlogo .logo {
  color: var(--color-brand);
}

.navbar .navcontainer .navflex .navleft .navsearch {
  margin-left: 10px;
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navcontainer .navflex .navleft .navsearch .navsearchIcon {
  position: absolute;
  z-index: 3;
  height: 15px;
  width: 15px;
  margin-left: 10px;
  color: #00000099;
  cursor: pointer;
}

.navbar .navcontainer .navflex .navleft .navsearch .navsearchInput {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 250px;
  outline: none;
  border: none;
  padding: 10px 5px 10px 5px;
  padding-left: 35px;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: 100;
  background-color: #dddddd;
}

.navbar .navcontainer .navflex .navright {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navcontainer .navflex .navright .navigation .nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.navbar .navcontainer .navflex .navright .navigation .nav-group .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navcontainer .navflex .navright .navigation .nav-group .nav-link .nav-icon {
  height: 24px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  width: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  line-height: 1.5;
}

.navbar .navcontainer .navflex .navright .navigation .nav-group .nav-link .nav-profile-image {
  border-radius: 50%;
}

.navbar .navcontainer .navflex .navright .navigation .nav-group .nav-link .nav-texts {
  color: #00000099;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  list-style-type: none;
}

.navbar .navcontainer .navflex .navright .navigation .nav-group .nav-link .nav-texts span .profile-drop-icon {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  line-height: 1.5;
  margin-bottom: -3px;
}

.navbar .navcontainer .navflex .navright .navigation .nav-group .activeTab::after {
  border-bottom: 2px solid black;
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-animation: tabactive 0.4s ease-in-out forwards;
          animation: tabactive 0.4s ease-in-out forwards;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  width: calc(100% + 40px);
  margin-bottom: -3px;
}

@-webkit-keyframes tabactive {
  0% {
    -webkit-transform: scalex(20px);
            transform: scalex(20px);
  }
  100% {
    -webkit-transform: scalex(80%);
            transform: scalex(80%);
  }
}

@keyframes tabactive {
  0% {
    -webkit-transform: scalex(20px);
            transform: scalex(20px);
  }
  100% {
    -webkit-transform: scalex(80%);
            transform: scalex(80%);
  }
}

.navbar .navcontainer .navflex .navright .nav-work {
  border-left: 2px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-bottom: -2px;
  padding-top: 10px;
  position: relative;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  position: relative;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-link .nav-icon {
  height: 24px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  width: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  line-height: 1.5;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-link .nav-profile-image {
  border-radius: 50%;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-link .nav-texts {
  color: #00000099;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  list-style-type: none;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-link .nav-texts span .profile-drop-icon {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  line-height: 1.5;
  margin-bottom: -3px;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-premium {
  color: #915907;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  list-style-type: none;
  text-align: center;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-more {
  padding-top: 5px;
  width: 24px;
  height: 24px !important;
  display: none;
  margin: 0 20px;
  position: relative;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-more .nav-icon {
  height: 24px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  width: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  line-height: 1.5;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-dropdown {
  display: none;
  position: absolute;
  top: 56px;
  right: 10px;
  background-color: #ffffff;
  height: 54px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .navcontainer .navflex .navright .nav-work .nav-dropdown .drop-nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.show {
  display: unset !important;
}

@media (max-width: 1000px) {
  .navsearch .navsearchInput {
    display: none;
  }
  .nav-link .nav-texts {
    display: none !important;
  }
  .nav-link::after {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .nav-more {
    display: unset !important;
  }
  .nav-premium {
    display: none !important;
  }
}

@media (max-width: 840px) {
  .nav-work {
    border: none !important;
  }
  .nav-works {
    display: none !important;
  }
}

@media (max-width: 750px) {
  .prof-link-nav {
    display: none !important;
  }
}

@media (max-width: 710px) {
  .notif-link-nav {
    display: none !important;
  }
}

@media (max-width: 608px) {
  .messaging-link-nav {
    display: none !important;
  }
}
/*# sourceMappingURL=navbar.css.map */