:root {
  --lh: 1.4rem;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex {
  display: -ms-grid;
  display: grid;
  grid-area: content;
      grid-template-areas: "sidebar main aside";
  -ms-grid-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
      grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 2.4rem;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifLeft {
  background-color: #fff;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aside;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifMiddle {
  background-color: #fff;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifMiddle .notMWrapper .notmNotification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifMiddle .notMWrapper .notmNotification .notmtexts .thnotmtexts .thnotmauthor {
  font-weight: 500;
  margin-right: 5px;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifRight {
  background-color: #fff;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(206, 206, 206, 0.9);
          box-shadow: 0px 0px 0px 1px rgba(206, 206, 206, 0.9);
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifRight .sidebarTitle {
  border-bottom: 1px solid #00000014;
  padding: 10px;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifRight .sidebarTitle .sidebarNotifTitle {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-top: 15px;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifRight .sidebarTitle .sidebarNotifCachy {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  vertical-align: baseline;
  color: rgba(48, 48, 48, 0.9);
  text-align: center;
  margin-top: 5px;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifRight .sidebarBottom .sbexplns {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 200;
  vertical-align: baseline;
  color: rgba(48, 48, 48, 0.9);
  text-align: center;
  margin-top: 5px;
}

.notificationsPage .notifwrapper .notifcontainer .notifFlex .notifRight .sidebarBottom .sbsttngs {
  text-align: center;
  color: #004182;
  font-weight: 600;
  margin-bottom: 20px;
}

.truncate-overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
  /* space for ellipsis */
}

.truncate-overflow::before {
  position: absolute;
  content: "...";
  bottom: 0;
  right: 10%;
}

.truncate-overflow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
}
/*# sourceMappingURL=notifications.css.map */