.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100vw;
    background-color: #fff;
}
.logo {
    color: var(--blue-70,#0073b1)!important; 
    height: 2rem!important;
    width: 2rem!important;
}
.left{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
.input{
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    padding-top: 8px;
}
.search{
    margin-left: 10px;
    height: 30px;
    width: 280px;
    background-color: #eef3f8;
    border-radius: 10px;
    position: relative;
}
.SearchIcon{
    margin-left: 15px;
    margin-top: 5px;
}
.right{
    display: flex !important;
    flex-direction: row !important;

}
.Nav-Links{
    align-items: center;
    background: transparent;
    color:  var(--black-a60);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    min-height: 52px;
    min-width: 80px;
    position: relative;
    text-decoration: none;
}
.Nav-Links > p{
    font-size: 0.7rem;
}
.avatar{
    height: 35px;
    width: 35px !important;
    border-radius: 50%;
    overflow: hidden;
}
#avatar{
    height: 35px;
    width: 35px !important;
    border-radius: 50%;
    background-color: grey;
    overflow: hidden;
}
#img{
    border-right: 1px solid grey;
}
.premium{
    font-size: 15px !important;
    color: var(--color-brand-accent-1) !important;
}
.premium span::before{
    content: "\A";
}