.body{
    background-color: rgb(206, 206, 206);
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}
.leftb{
    width: 15%;
    height: 30%;
    margin-right: 20px;
}
.top{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(191, 190, 190);
}
.cover{
    height: 35px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.avatarb{
    height: 60px;
    width: 60px !important;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 35%;
    margin-top: -25px;
    border: 3px solid white;
}
.top > h4{
    text-align: center;
    padding-top: 10px;
}
.top >p{
    text-align: center;
    font-size: 10px;
    color: rgb(101, 101, 101);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(220, 219, 219);
}
.connections{
    padding-left: 10px;
    margin-top: 10px;
}
.connections:hover{
    background-color: rgb(210, 209, 209);
}
.connections > p:nth-child(1){
    font-size: 12px;
    color: rgb(133, 133, 133);
    padding-top: 10px;
}
.connections > p:nth-child(2){
    font-size: 13px;
    color: rgb(55, 55, 55);
    padding-bottom: 10px;
}
.viewed{
    margin-top: 0 !important;
}
.connections > p > span{
    color: blue;
    margin-left: 100px;
}
.viewed > p > span{
    color: blue;
    margin-left: 36px;
}
.items{
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}
.items:hover{
    border: 1px solid rgb(198, 198, 198);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.items > svg{
    color: rgb(36, 36, 36);
    padding-right: 5px;
}
.items > p{
    color: rgb(31, 31, 31) !important;
}
.bottom{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgb(172, 172, 172);
    margin-bottom: 100px;
}
.bottom > .title{
    display: flex;
    flex-direction: row;
}
.bottom > .title > p{
    padding-top: 20px;
    margin-left: 10px;
    font-size: 0.8rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,.9);
}
.bottom > .title > p > svg{
    font-size: 12px;
    margin-left: 110px;
    margin-top: -10px;
    padding: 8px;
}
.bottom > .title > p > svg:hover{
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
}
.recents{
    display: flex;
    flex-direction: row;
}
.recents:hover{
    background-color: rgb(211, 211, 211);
}
.recents > p > svg{
    padding-left: 5px;
}
.recents > p{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 12px;
    cursor: pointer;
}
.see > p{
    font-size: 12px;
    padding-left: 35px;
}
.see{
    padding: 5px;
}
.see:hover{
    background-color: rgb(220, 219, 219);
}
.bottom > .title-hashtag{
    display: flex;
    flex-direction: row;
}
.bottom > .title-hashtag > p{
    padding-top: 5px;
    margin-left: 10px;
    font-size: 0.8rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,.9);
}
.bottom > .title-hashtag > p > svg{
    font-size: 12px;
    margin-left: 47px;
    margin-top: -10px;
    padding: 8px;
}
.bottom > .title-hashtag > p > svg:hover{
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
}
.discover{
    border: 1px solid rgb(203, 203, 203);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.discover:hover{
    background-color: rgb(215, 215, 215);
}
.discover > p{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.middle{
    width: 45%;
    height: 30%;
    margin-right: 20px;
}
.post{
    background-color: #ffffff;
    height: 100px;
    border-radius: 12px;
    padding-top: 20px;
}
.post-div{
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
    border: 1px solid gray;
    border-radius: 15px;
}
.post-button{
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    display: inline-flex;
    justify-content: left !important;
    min-width: 6.4rem;
    width: 100%;
    overflow: hidden;
    transition-property: background-color,box-shadow,color;
    vertical-align: middle;
    text-transform: lowercase !important;
    position: inherit !important;
}
.post-button-links:hover{
    background-color: rgb(216, 215, 215) !important;
    color: var(--color-text-low-emphasis-shift);
    border-radius: 5px;
}
.post-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.post-button-links{
    background-color: #ffffff !important;
    margin-top: 10px;
    padding: 8px;
    outline: none;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
    align-items: center;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    min-width: 6.4rem;
    width: 120px;
    overflow: hidden;
    text-align: center;
    transition-property: background-color,box-shadow,color;
}
#post-photo{
    color: #70b5f9;
    padding-right: 3px;
}
#post-video{
    color: #e7a33e;
    padding-right: 3px;
}
#post-event{
    color: #a0b4b7;
    padding-right: 3px;
}
#post-article{
    color: #f5987e;
    padding-right: 3px;
}
.content{
    background-color: #ffffff;
    height: auto;
    border-radius: 11px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.content-header{
    display: flex;
    justify-content: space-between;
}
.content-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
    overflow: hidden;
    margin: 20px;
}
.content-avatar > img{
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
}
.content-body{
    overflow: hidden;
    min-height:200px;
    max-height: 400px;
}
.content-body > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.user-details{
    padding-top: 20px;
}
.user-details > h4{
    font-size: 14px;
}
.user-details > p{
    font-size: 12px;
    color: rgb(171, 170, 170);
    overflow: hidden;
}
.how-long > p{
    font-size: 13px;
    padding-right: 2px;
    color: rgb(157, 157, 157);
}
.user-profile{
    display: flex;
}
.how-long{
    display: flex;
}
.content-footer{
    height: auto;
}
.reactions{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgb(205, 205, 205);
    display: flex;
}
.reactions > p{
    font-size: 12px;
    color: rgb(162, 162, 162);
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.reactions > svg{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
}
.dot{
    content: "\00b7";
    vertical-align: middle;
    font-weight: bold;
}
.socials{
    display: flex;
}
.soacial-links:nth-child(1){
    margin-left: 10px;
}
.soacial-links{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.soacial-links > p{
    margin-top: 5px;
    padding-left: 3px;
}
.soacial-links:hover{
    background-color: rgb(205, 205, 205);
}
.rightb{
    width: 20%;
    height: 30%;
}
.ads{
    background-color: #ffffff;
    height: 250px;
    border-radius: 10px;
}
.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-links > li{
    list-style: none;
    color: rgb(90, 89, 89);
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
}
.footer-links > li:hover{
    color: blue;
    text-decoration: underline;
}
.brand{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.brand > #footer-logo{
    color: #56a5da;
}
.brand > p{
    font-size: 12px;
    color: rgb(90, 89, 89);
}