.signup-section {
  .signup-nav {
    .signUpBrand {
      .brandLogo {
        fill: var(--color-brand);
        font-size: 25px;
      }
    }
  }
  .signup-wrapper {
    // max-width: 700px;
    margin: 0 auto;
    .form-title {
      font-weight: 400;
      color: #000;
      margin-bottom: 20px;
      text-align: center;
    }
    .signup-form {
      width: 400px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 10px;
      background: #fff;
      .form-groupa {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        .form-label {
          display: block;
          font-size: 14px;
          color: #8b8b8b;
          margin-bottom: 10px;
        }
        .form-control {
          display: block;
          height: 35px;
          padding: 0 10px;
          outline: none;
          border: 1px solid #292929;
          border-radius: 5px;
          background: #fff;
          &:focus {
            border-color: #292929;
          }
        }
      }
    }
  }
}
