.navbar{
    width: 100%;
    height: 54px;
    background-color: #fff;
    border-bottom: 1px solid rgb(240, 240, 240);
    .navcontainer{
        margin: 0px 8%;
        .navflex{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .navleft{
                display: flex;
                flex-direction: row;
                margin-top: 7px;
                .navlogo{
                    .logo{
                        color: var(--color-brand);
                    }
                }
                .navsearch{
                    margin-left: 10px;
                    position: relative;
                    width: min-content;
                    border-radius: 5px;
                    display: inline-flex;
                    align-items: center;
                    .navsearchIcon{
                        position: absolute;
                        z-index: 3;
                        height: 15px;
                        width: 15px;
                        margin-left: 10px;
                        color: #00000099;
                        cursor: pointer;
                    }
                    .navsearchInput{
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        width: 250px;
                        outline: none;
                        border: none;
                        padding: 10px 5px 10px 5px;
                        padding-left: 35px;
                        font-size: 0.9rem;
                        border-radius: 5px;
                        font-weight: 100;
                        background-color: rgb(221, 221, 221);
                    }
                }
            }
            .navright{
                padding-top: 10px;
                display: flex;
                .navigation{
                    .nav-group{
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        .nav-link{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 0 20px;
                            position: relative;
                            transition: 0.3s;
                            .nav-icon{
                                height: 24px;
                                transform: scale(1);
                                transition: transform .2s ease-in-out;
                                width: 24px;
                                font-size: 1.2rem;
                                font-weight: 400;
                                cursor: pointer;
                                line-height: 1.5;
                            }
                            .nav-profile-image{
                                border-radius: 50%;
                            }
                            .nav-texts{
                                color: #00000099;
                                cursor: pointer;
                                font-size: 0.75rem;
                                font-weight: 400;
                                line-height: 1.5;
                                list-style-type: none;
                                span{
                                    .profile-drop-icon{
                                        transform: scale(1);
                                        transition: transform .2s ease-in-out;
                                        font-size: 1.2rem;
                                        font-weight: 400;
                                        cursor: pointer;
                                        line-height: 1.5;
                                        margin-bottom: -3px;
                                    }
                                }
                            }
                        }
                        .activeTab::after{
                            border-bottom: 2px solid black;
                            content: "";
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            animation: tabactive 0.1s ease-in-out forwards;
                            transform: translateX(-20px);
                            transition: transform .3s ease-in-out;
                            width: calc(100% + 40px);
                            margin-bottom: -3px;
                            transform-origin: left;
                        }
                        @keyframes tabactive{
                            0%{
                                transform: scalex(0%);
                            }
                            100%{
                                transform: scalex(100%);
                            }
                        }
                    }
                }
                .nav-work{
                    border-left: 2px solid rgb(240, 240, 240);
                    display: flex;
                    margin-top: -10px;
                    margin-bottom: -2px;
                    padding-top: 10px;
                    position: relative;
                    .nav-link{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 20px;
                        position: relative;
                        .nav-icon{
                            height: 24px;
                            transform: scale(1);
                            transition: transform .2s ease-in-out;
                            width: 24px;
                            font-size: 1.2rem;
                            font-weight: 400;
                            cursor: pointer;
                            line-height: 1.5;
                        }
                        .nav-profile-image{
                            border-radius: 50%;
                        }
                        .nav-texts{
                            color: #00000099;
                            cursor: pointer;
                            font-size: 0.75rem;
                            font-weight: 400;
                            line-height: 1.5;
                            list-style-type: none;
                            span{
                                .profile-drop-icon{
                                    transform: scale(1);
                                    transition: transform .2s ease-in-out;
                                    font-size: 1.2rem;
                                    font-weight: 400;
                                    cursor: pointer;
                                    line-height: 1.5;
                                    margin-bottom: -3px;
                                }
                            }
                        }
                    }
                    .nav-premium{
                        color: #915907;
                        cursor: pointer;
                        font-size: 0.75rem;
                        font-weight: 400;
                        line-height: 1.5;
                        list-style-type: none;
                        text-align: center;
                    }
                    .nav-more{
                        padding-top: 5px;
                        width: 24px;
                        height: 24px !important;
                        display: none;
                        margin: 0 20px;
                        position: relative;
                        .nav-icon{
                            height: 24px;
                            transform: scale(1);
                            transition: transform .2s ease-in-out;
                            width: 24px;
                            font-size: 1.2rem;
                            font-weight: 400;
                            cursor: pointer;
                            line-height: 1.5;
                        }
                    }
                    .nav-dropdown{
                        display: none;
                        position: absolute;
                        top: 56px;
                        right: 10px;
                        background-color: #ffffff;
                        height: 54px;
                        width: min-content;
                        border-radius: 5px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        .drop-nav-flex{
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
.show {display:unset !important;}

//responsive design
@media(max-width: 1000px){
    .navsearch{
        .navsearchInput{
            display: none;
        }
    }
    .nav-link{
        .nav-texts{
            display: none !important;
        }
    }
    .nav-link::after{
        display: none !important;
    }
}
@media(max-width: 920px){
    .nav-more{
        display: unset !important;
    }
    .nav-premium{
        display: none !important;
    }
}
@media(max-width: 840px){
    .nav-work{
        border: none !important;
    }
    .nav-works{
        display: none !important;
    }
}
@media(max-width: 750px){
    .prof-link-nav{
        display: none !important;
    }
    // .prof-link-nav-drop{
    //     display: ;
    // }
}
@media(max-width: 710px){
    .notif-link-nav{
        display: none !important;
    }
}
@media(max-width: 608px){
    .messaging-link-nav{
        display: none !important;
    }
}
@media(max-width: 768px){
    
}
@media(max-width: 480px){

}
@media(max-width: 320px){

}