.notificationsPage{
    .notifwrapper{
        .notifcontainer{
            .notifFlex{
                display: grid;
                grid-area: content;
                grid-template-areas: "sidebar main aside";
                grid-template-columns: minmax(0,5fr) minmax(0,12fr) minmax(300px,7fr);
                grid-template-rows: auto;
                gap: 2.4rem;
                .notifLeft{
                    background-color: #fff;
                    height: min-content;
                    grid-area: aside;

                }
                .notifMiddle{
                    background-color: #fff;
                    height: min-content;
                    grid-area: main;
                }
                .notifRight{
                    background-color: #fff;
                    height: min-content;
                    grid-area: sidebar;
                    .sidebarTitle{
                        border-bottom: 1px solid #00000014;
                        .sidebarNotifTitle{
                            font-size: 1.1rem;
                            line-height: 1.5;
                            font-weight: 600;
                            vertical-align: baseline;
                            color: rgba(0,0,0,0.9);
                            text-align: center;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}