.notificationsPage{
    .notifwrapper{
        .notifcontainer{
            .notifFlex{
                grid-template-areas: "sidebar main aside";
                grid-template-columns: minmax(0,5fr) minmax(0,12fr) minmax(300px,7fr);
                column-gap: 1rem;
                display: grid;
                grid-area: content;
                grid-template-columns: minmax(0,1fr);
                grid-template-rows: auto;
                row-gap: .5rem;
                .notifLeft{
                    background-color: #fff;
                    height: 300px;
                }
                .notifMiddle{
                    background-color: #fff;
                    height: 300px;
                    grid-column: span 2;
                }
                .notifRight{
                    background-color: #fff;
                    height: 300px;
                }
            }
        }
    }
}