.notificationsPage{
    .notifwrapper{
        .notifcontainer{
            .notifFlex{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-template-rows: repeat(2, 200px);
                grid-gap: 1.5rem;
                grid-auto-flow: dense;
                .notifLeft{
                    background-color: #fff;
                    height: 300px;
                    grid-row: span 2;
                    grid-column: span 1;
                }
                .notifMiddle{
                    background-color: #fff;
                    height: 300px;
                    grid-column: span 3;
                    grid-row: span 5;
                }
                .notifRight{
                    background-color: #fff;
                    height: 300px;
                    grid-column: span 2;
                    grid-row: span 3;
                }
            }
        }
    }
}